@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
}

body {
    background-color: black;
    color: #aaa;
    font-size: 20px;
    padding: 1em;
    font-family: monospace;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}

button:hover {
    background-color: #666;
}

button:active {
    background-color: #999;
}

.table-sorter {
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    padding-bottom: 1rem;
}

h1 { font-size: 3em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.125em; }

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

pre {
    font-family: monospace;
}

.big {
    font-size: 2em;
}

table {
  border-collapse: collapse;
  border-top: 3px solid rgb(209, 163, 54);
  border-left: 3px solid rgb(209, 163, 54);
  margin-bottom: 1rem;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}
thead tr:nth-child(odd) {
    background-color: transparent;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

th,
td {
  padding: 0.5em;
}

th {
  border-right: 3px solid rgb(214, 209, 173);
  border-bottom: 3px solid rgb(214, 209, 173);
  background-color: rgba(234, 206, 165, 0.1);
}

td {
  border-right: 3px solid rgb(209, 163, 54);
  border-bottom: 3px solid rgb(209, 163, 54);
}

.poem {
  border: 3px solid rgb(209, 163, 54);
  padding: 2rem;
  margin-bottom: 1rem;
}

.success {
    color: #9f9;
}

.error {
    color: #f99;
}